.view-data1 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-add-youtube {
  float: right;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.spinner {
  text-align: center;
}
